*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  // border: 1px solid red;
}
.container {
  width: 90%;
  margin: 0 auto;
}
:root {
  --black-color: #252525;
  --white-color: #fff;
  --main-color-one: #c9af77;
  --main-color-two: #ad8849;
  --white-dark: rgb(238, 238, 238);
}
.shop-head {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  // background-color: var(--main-color-two);
  background-image: url(https://portbakumall.az/resized/fit1920x400/center/pages/50/brands-cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white-color);
  h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 1px;
  }
  p {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
  }
}
.bodyo {
  margin-top: 6rem;
  padding: 6rem;
}
.ranking {
  width: 30%;
  align-items: center;
  border: 1px solid var(--main-color-two);
  padding: 1.1rem 0.8rem;
  font-size: 1.1rem;
  margin: 2rem 0 1rem 2rem;
  font-weight: 600;
  &:focus {
    border: 1px solid var(--main-color-one);
  }
}
.brands-side {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: #ad8849;
  .center-side {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h2 {
    font-size: 1.8rem;
    font-weight: 500;
  }
  p {
    font-size: 1.2rem;
    font-weight: 400;
  }
}
